<html lang="en">
  <body>
    <h1>FullStack QAP 3</h1>
    <h2>Welcome to the home page.</h2>
    <div class="People content">
        <form action="/home" method="POST">
            <b>People: </b></br> 
        <% if (thePeople.length > 0) { %>
            <% thePeople.forEach(person => { %>
                <b><%= person.FirstName %> | <%= person.LastName %> | <%= person.Email %></b>
                <a href="/home/<%=person._id%>/edit?FirstName=<%=person.FirstName%>&LastName=<%=person.LastName%>&Email=<%=person.Email%>">edit</a>
                <a href="/home/<%=person._id%>/delete?FirstName=<%=person.FirstName%>">delete</a></br> 
                <% }) %>
        <% } %>
        </br><label>Add Person:</label></br>
        <label>First Name:
            <input type="text" id="FirstName" name="FirstName" value="<%= locals.FirstName %>" required>
        </label>
        <label>Last Name:
            <input type="text" id="LastName" name="LastName" value="<%= locals.LastName %>" required>
        </label>
        <label>Email:
            <input type="email" id="Email" name="Email" value="<%= locals.Email %>" required>
        </label>
        </br>
        <button>POST</button>
    </form>
  </body>
</html>
